<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-9">
      <h2>New Comment</h2>

      <%= render 'form', commentable: @commentable, comment: @comment %>
    </div>
  </div>    
</div>  