<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-9">
      <h2>Edit Project <%= @project.name -%></h2>

      <%= render 'form', project: @project %>
    </div>
</div>  