<div class="container-fluid">
  <h2>Projects</h2>

  <div class="table-responsive">
    <% if @projects.size > 0 %>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @projects %>       
      </tbody>
    </table>
    <% else %>
    <p>No projects where found. <%= link_to "Add Project", new_project_path -%></p>
    <% end %>
  </div>
</div>