<section class="jumbotron text-center">
  <div class="container">
    <p>
      <a class="btn btn-block btn-lg btn-social btn-facebook" href="<%= user_facebook_omniauth_authorize_path -%>">
        <span class="fa fa-facebook"></span> Sign in with Facebook
      </a>
    </p>
  </div>
</section>