<section class="jumbotron">
  <div class="container text-center w-50">
    <h3 class="mb-4">Please Sign In</h3>
  
    <p>
      <a class="btn btn-block btn-social btn-facebook" href="<%= user_facebook_omniauth_authorize_path -%>">
        <span class="fa fa-facebook"></span> Sign in with Facebook
      </a>
    </p>
  </div>
